{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'poll/style.css' %}" />

<h1>{{ question.question_text }}</h1>
<ul>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action={% url "poll:vote" question.id %} method="post">
{% csrf_token %}

{% for choice in question.choice_set.all %}
	<input class="white" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
	<label class="white" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br /> 
{% endfor %}
</ul>

<input type="submit" "Vote" />
</form>